body {
	margin: 0;
	font: 18px "Times New Roman", Times, serif;
	text-align: center;
	background: white;
}

/* Change selection color */
::-moz-selection { background: hotpink; color: #fff; }
     ::selection { background: hotpink; color: #fff; }

.site-header, .scroller {
	min-width: 900px;
}

.site-header {
	position: relative;
	z-index: 10;
	box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.site-header > .col {
	display: inline-block;
	vertical-align: top;
}

.site-header > .col:last-child {
	padding: 16px 17px;
	border-right: 1px solid #666;
	height: 104px;
}

.char-preview {
	width: 248px;
	height: 136px;
	line-height: 136px;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	font-size: 32px;
	height: 136px;
}

.char-table {
    margin: 16px auto 0;
}

.char-table th {
	padding: 0 10px;
	font-weight: normal;
	font-size: 14px;
}

.char-table th:first-child {
	padding-left: 0;
}

.char-table th:last-child {
	padding-right: 0;
}

.scroller {
	width: 100%;
	overflow-y: scroll;
	position: absolute;
	top: 136px; /* .site-header height */
	bottom: 0;
}

#search-field {
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ccc;
	outline: 0;
	font: inherit;
	border-radius: 6px;
	-webkit-appearance: textfield;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.125);
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}

#search-field:focus {
	border-color: rgba(82,168,236,.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.table {
	margin: 24px auto;
	position: relative;
}

.table div {
	position: absolute;
	width: 40px;
	height: 40px;
    line-height: 40px;
    text-align: center;
	vertical-align: top;
}

.table div:hover {
	background-color: #ffa;
}

.table div.selected {
	background: #dfd;
}

code {
	font: inherit;
}