html { font: 18px "Times New Roman", Times, serif }

html, body { height: 100% }

body, header, .drop-thead { background: white }

body {
	margin: 0 0 24px;
}

/* Change selection color */
::-moz-selection { background: hotpink; color: #fff }
     ::selection { background: hotpink; color: #fff }


/* table-like layout */
.col  { display: table-cell }
.full   { width: 100%    }


.event-toggle {
	display: inline-block;
	margin-right: 17px;
	border: 1px solid #ccc;
    border-radius: 6px;
	padding: 10px;
	height: 43px;
}


header, .scroller {
    position: fixed;
    width: 100%;
	min-width: 620px;
}

header, input[type=search] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
    padding: 16px 17px;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

.scroller {
    overflow-y: scroll;
    top: 75px;
    bottom: 0;
}

table, input { width: 86% }

input[type=search] {
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    outline: 0;
    font: inherit;
    border-radius: 6px;
    -webkit-appearance: textfield;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.125);
}

input[type=search]:focus {
    border-color: rgba(82,168,236,.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}

table {
    border-collapse: collapse;
    margin: 24px auto;
}

input[type=search], tr {
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

th, td {
    border: 1px solid;
    text-align: center;
    font-size: 1.333em;
}

tr:hover { background: #ffd }

tr:target {
    -webkit-animation: highlight 1s linear;
       -moz-animation: highlight 1s linear;
        -ms-animation: highlight 1s linear;
         -o-animation: highlight 1s linear;
            animation: highlight 1s linear;
}

code { font: inherit }

@-webkit-keyframes highlight { 0%{background: #ffe0dd} 100%{background: #fff} }
   @-moz-keyframes highlight { 0%{background: #ffe0dd} 100%{background: #fff} }
    @-ms-keyframes highlight { 0%{background: #ffe0dd} 100%{background: #fff} }
     @-o-keyframes highlight { 0%{background: #ffe0dd} 100%{background: #fff} }
        @keyframes highlight { 0%{background: #ffe0dd} 100%{background: #fff} }